{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
    <br>
    <h1 class="text-center">Error!</h1>
    <hr>
    <br>
    <div class="card card-body">
        <div class="text-center">
            <img src="https://www.flaticon.com/svg/static/icons/svg/595/595067.svg" width="500" height="500">
            <br><br>
            <b style="color: red">{{ motiuError }}</b>
            <a href="{{ path('department.llistat') }}">Retornar a la pàgina principal</a>.
        </div>
    </div>
{% endblock %}