{% extends 'base.html.twig' %}

{% block title %}Llistat departaments{% endblock %}

{% block body %}
    <br>
    <h1 class="text-center">Llistat de departaments</h1>
    <hr>
    <br>
    <a href="{{ path('department.crear') }}" class="float-right btn btn-success"><img width="20" height="20" src="https://www.flaticon.com/svg/static/icons/svg/1665/1665578.svg"> Crear nou departament</a>
    <br>
    <br>
    <br>
    <div id="alerta"></div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <b style="color: green">{{ message }}</b>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('update') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <b>{{ message }}</b>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <h3>Departaments:</h3>
    <div id="taula-resultat" class="card card-body">
        <table id="table-with-departments" class="table table-striped">
            <thead>
            <td>ID</td>
            <td>Nom departament</td>
            <td>Email contacte</td>
            <td>Treball cap setmana</td>
            <td>Actualitza</td>
            <td>Elimina</td>
            </thead>
            <tbody>
            {% for departament in departaments %}
                <tr>
                    <td>{{ departament.id }}</td>
                    <td>{{ departament.NameDepartment }}</td>
                    <td>{{ departament.ContactMail }}</td>
                    {% if departament.WeekendWork %}
                        <td><img width="20" height="20" alt="Treballa cap de setmana" title="Treballa cap de setmana" src="https://www.flaticon.com/svg/static/icons/svg/1632/1632596.svg"></td>
                    {% else %}
                        <td><img width="20" height="20" alt="No treballa cap de setmana" title="No treballa cap de setmana" src="https://www.flaticon.com/svg/static/icons/svg/1828/1828665.svg"> </td>
                    {% endif %}
                    <td><a href="{{ path('department.crear', {id: departament.id}) }}" class="btn btn-warning"><img width="20" height="20" src="https://www.flaticon.com/svg/static/icons/svg/1250/1250616.svg"> Actualitza</a></td>
                    <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modal{{ departament.id }}"><img width="20" height="20" src="https://www.flaticon.com/svg/static/icons/svg/1214/1214428.svg"> Eliminar</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="modals">
        {% for departament in departaments %}
            <div class="modal fade" id="Modal{{ departament.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Eliminar departament</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Estàs segur que vols eliminar el departament ({{ departament.id }}):
                            <ul>
                                <li>Nom departament: {{ departament.NameDepartment }}</li>
                                <li>Correu de contacte: {{ departament.ContactMail }}</li>
                                {% if departament.WeekendWork %}
                                    <li>Treball cap de setmana: <img width="20" height="20" alt="Treballa cap de setmana" title="Treballa cap de setmana" src="https://www.flaticon.com/svg/static/icons/svg/1632/1632596.svg"></li>
                                {% else %}
                                    <li>Treball cap de setmana:<img width="20" height="20" alt="No treballa cap de setmana" title="No treballa cap de setmana" src="https://www.flaticon.com/svg/static/icons/svg/1828/1828665.svg"></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="bttn-delete-{{ departament.id }}" onclick="ajax_delete(this.id)" class="btn btn-danger"><img width="20" height="20" src="https://www.flaticon.com/svg/static/icons/svg/1214/1214428.svg"> Elimina</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
<script>
    function ajax_delete(id_boto){
        var id = id_boto.split("-")[2];
        console.log(id);
        $.ajax({
            type: 'GET',
            url : "{{ path('department.eliminar') }}",
            data:{
                'id':id,
            },
            dataType:'json',
            success:
                function (data){
                    $('#Modal'+id).hide();
                    $('.modal-backdrop').hide();
                    document.getElementById("table-with-departments").innerHTML='';
                    document.getElementById("modals").innerHTML='';
                    document.getElementById("alerta").innerHTML='';
                    var thead = document.createElement("THEAD");
                    for (var j=0; j<6; j++){
                        let td=document.createElement("TD");
                        if (j===0){
                            td.innerHTML='ID';
                        }else if(j===1){
                            td.innerHTML='Nom departament';
                        }else if(j===2){
                            td.innerHTML='Email contacte';
                        }else if(j===3){
                            td.innerHTML='Treball cap setmana';
                        }else if(j===4){
                            td.innerHTML='Actualitza';
                        }else if(j==5){
                            td.innerHTML='Elimina';
                        }
                        thead.appendChild(td);
                    }
                    document.getElementById("table-with-departments").appendChild(thead);
                    var tbody = document.createElement("TBODY");
                    var ids_departaments=[];
                    for(var i=0; i<data.existents.length; i++){
                        let info_row = data.existents[i].split("||");
                        let tr = document.createElement("TR");
                        tr.setAttribute("id", "row-"+i);
                        for(var k=0; k<info_row.length; k++){
                            let td = document.createElement("TD");
                            if(k === 3){
                                if(info_row[k].split("|")[1] === 'si'){
                                    td.innerHTML='<img width="20" height="20" alt="Treballa cap de setmana" title="Treballa cap de setmana" src="https://www.flaticon.com/svg/static/icons/svg/1632/1632596.svg">';
                                }else{
                                    td.innerHTML='<img width="20" height="20" alt="No treballa cap de setmana" title="No treballa cap de setmana" src="https://www.flaticon.com/svg/static/icons/svg/1828/1828665.svg">';
                                }
                            }else if(k === info_row.length-2){
                                td.innerHTML='<a href="/department/department_action/'+info_row[0].split("|")[1]+'" class="btn btn-warning"><img width="20" height="20" src="https://www.flaticon.com/svg/static/icons/svg/1250/1250616.svg"> Actualitza</a>';
                            }else if(k=== info_row.length-1){
                                td.innerHTML='<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modal'+info_row[0].split("|")[1]+'"><img width="20" height="20" src="https://www.flaticon.com/svg/static/icons/svg/1214/1214428.svg"> Eliminar</button>';
                            }else{
                                td.innerHTML=info_row[k].split("|")[1];
                            }
                            tr.appendChild(td);

                        }
                        ids_departaments.push({
                            'id': data.existents[i].split("||")[0].split("|")[1],
                            'nomDep': data.existents[i].split("||")[1].split("|")[1],
                            'mail': data.existents[i].split("||")[2].split("|")[1],
                            'weekndwork' : data.existents[i].split("||")[3].split("|")[1]
                        });
                        tbody.appendChild(tr);
                    }
                    document.getElementById("table-with-departments").appendChild(tbody);
                    console.log(ids_departaments);
                    for (var i=0; i<ids_departaments.length; i++){
                        let div1 = document.createElement("DIV"); //<div class="modal fade" id="Modaliddepart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        div1.setAttribute("class", "modal fade");
                        div1.setAttribute("id", "Modal"+ids_departaments[i]['id']);
                        div1.setAttribute("tabindex", "-1");
                        div1.setAttribute("aria-labelledby", "exampleModalLabel");
                        div1.setAttribute("aria-hidden", "true");
                        let div2 = document.createElement("DIV"); //<div class="modal-dialog">
                        div2.setAttribute("class", "modal-dialog");
                        let div3 = document.createElement("DIV"); // <div class="modal-content">
                        div3.setAttribute("class", "modal-content");
                        let div4= document.createElement("DIV"); //<div class="modal-header">
                        div4.setAttribute("class", "modal-header");
                        let h5 = document.createElement("H5"); //<h5 class="modal-title" id="exampleModalLabel"></h5>
                        h5.setAttribute("class", "modal-title");
                        h5.setAttribute("id", "exampleModalLabel");
                        h5.innerHTML='Eliminar departament';
                        let bttn1 = document.createElement("BUTTON"); //<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        bttn1.setAttribute("type", "button");
                        bttn1.setAttribute("class", "close");
                        bttn1.setAttribute("data-dissmiss", "modal");
                        bttn1.setAttribute("aria-label", "Close");
                        let span = document.createElement("SPAN");
                        span.setAttribute("aria-hidden", "true");
                        span.innerHTML='&times';
                        bttn1.appendChild(span);
                        div4.appendChild(h5);
                        div4.appendChild(bttn1);
                        let div5= document.createElement("DIV"); //<div class="modal-body">
                        div5.setAttribute("class", "modal-body");
                        div5.innerHTML='Estàs segur que vols eliminar el departament ('+ids_departaments[i]['id']+'):';
                        if(ids_departaments[i]['weekndwork'] === 'si'){
                            div5.innerHTML+='<ul><li>Nom departament: '+ids_departaments[i]['nomDep']+'</li><li>Correu de contacte:'+ids_departaments[i]['mail']+'</li><li>Treball cap de setmana: <img width="20" height="20" alt="Treballa cap de setmana" title="Treballa cap de setmana" src="https://www.flaticon.com/svg/static/icons/svg/1632/1632596.svg"></li></ul>';
                        }else{
                            div5.innerHTML+='<ul><li>Nom departament: '+ids_departaments[i]['nomDep']+'</li><li>Correu de contacte:'+ids_departaments[i]['mail']+'</li><li>Treball cap de setmana: <img width="20" height="20" alt="No treballa cap de setmana" title="No treballa cap de setmana" src="https://www.flaticon.com/svg/static/icons/svg/1828/1828665.svg"></li></ul>';
                        }
                        let div6=document.createElement("DIV"); //<div class="modal-footer">
                        div6.setAttribute("class", "modal-footer");
                        let bttn2 = document.createElement("BUTTON");
                        bttn2.setAttribute("type", "button");
                        bttn2.setAttribute("id", "bttn-delete-"+ids_departaments[i]['id']);
                        bttn2.setAttribute("onclick", "ajax_delete(this.id)");
                        bttn2.setAttribute("class", "btn btn-danger");
                        bttn2.innerHTML='<img width="20" height="20" src="https://www.flaticon.com/svg/static/icons/svg/1214/1214428.svg"> Elimina';
                        div6.appendChild(bttn2);
                        div3.appendChild(div4);
                        div3.appendChild(div5);
                        div3.appendChild(div6);
                        div2.appendChild(div3);
                        div1.appendChild(div2);
                        document.getElementById("modals").appendChild(div1);
                    }
                    //alerta
                    var div_alert = document.createElement("DIV");
                    div_alert.setAttribute("class", "alert alert-danger alert-dismissible fade show");
                    div_alert.setAttribute("role", "alert");
                    var b = document.createElement("B");
                    b.setAttribute("style", "color:red");
                    b.innerHTML='Departament '+id+' eliminat correctament.';
                    var button_dismiss = document.createElement("BUTTON");
                    button_dismiss.setAttribute("type", "button");
                    button_dismiss.setAttribute("class", "close");
                    button_dismiss.setAttribute("data-dismiss", "alert");
                    button_dismiss.setAttribute("aria-label", "Close");
                    let span_bttn = document.createElement("SPAN");
                    span_bttn.setAttribute("aria-hidden", "true");
                    span_bttn.innerHTML='&times;';
                    button_dismiss.appendChild(span_bttn);
                    div_alert.appendChild(b);
                    div_alert.appendChild(button_dismiss);
                    document.getElementById("alerta").appendChild(div_alert);
                }
        });

    }
</script>
{% endblock %}
