{% extends 'base.html.twig' %}

{% block title %}{{ text }} departament{% endblock %}

{% block body %}
    <br>
    <h1 class="text-center">{{ text }} departament</h1>
    <hr>
    <br>
    {% for message in app.flashes('errorupdate') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <b style="color: red">{{ message }}</b>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <h2>Omple el formulari</h2>
    <div class="card card-body">
        {{ form(formulari, {'attr': {'novalidate':'novalidate'}}) }}
    </div>
    <br>
    <div class="text-center">
        <a class="btn btn-info" href="{{ path('department.llistat') }}"><img width="20" height="20" src="https://www.flaticon.com/svg/static/icons/svg/860/860790.svg"> Tornar a la pàgina d'inici</a>
    </div>
{% endblock %}
